*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header h1 {
  text-transform: uppercase;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form {
  width: 300px;
}

.form input {
  width: 80%;
  padding-left: 5px;
  font-size: 1rem;
}

.form button {
  width: 20%;
  font-size: 1rem;
}

.select-container {
  margin-left: 10px;
}

.select-container #select{
  font-size: 1rem;
}

.todo-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

.content .text{
  max-width: 400px;
  width: 200px;
  height: 100%;
  text-align: left;
  color: #fff;
  background: #000;
  font-size: 1.3rem;
  padding: 10px;
}


.content .btns {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content .btns button {
  height:  50%;
}